body {
    font-family: Roboto, sans-serif;
    background-color: #FFFF00;
  }
  
  .header .bottom-bar {
      border-top: 1px solid black;
      background: #FFFFFF;
      color: black;
  }
  
  .container {
      width: 970px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
  }
 .Titel {
     position: absolute;
     left: 650px;
     top: 500px;
     font-family: Roboto, sans-serif;
     font-size: 24px;
 }
  
  .row-header {
      margin-left: 15px;
      margin-right: 15px;
  }
  
  .white-line {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
  }
  
  .logo-button {
      width: auto;
      float: left;
      margin-right: 30px;
      max-height: 100px;
      position:absolute;
      top: 320px;
  }
  
  .site-logo {
      display: inline-block;
      margin: 15px;
  }
  
  .site-logo img {
      max-height: 61px;
      float: left;
  }
  
  .logo img{
      max-height: 300px;
      display: block;
        margin-left: auto;
        margin-right: auto;


  }
  
  .navbar > ul {
      line-height: 1.5;
      padding-top: 6px;
      padding-bottom: 6px;
      display: inline-block;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      width: 100%;
      text-align: center;      
  }
  
  .navbar > ul > a {
      padding-left: 12px;
      padding-right: 12px;
      line-height: 69px;
      color: black;
      padding: 0 15px;
      text-align: center;
      display: inline-block;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      line-height: 60px;   
      transition: margin-top 0.4s ease;
  }
  
  .navbar a:hover {
      color: gray;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .main {
      padding-top: 30px !important;
      padding-bottom: 30px !important;
      background-position: 0 0 !important;
      background-repeat: repeat !important;
  }
  
  .button1 {
      background-color: #FFFFFF;
      color: black;
      border: 2px solid #FFFF00;
      top: auto;
      left: auto;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .button1:hover {
      background-color: #FFFF00;
      color: black;
      box-shadow: 0 12px 16px 0 hsla(59, 100%, 50%, 0.24),0 17px 50px 0 hsla(59, 100%, 50%, 0.24);
  }
  
  .tekst {
      color: white;
      text-align: center;
      margin: auto;
      width: 75%;
      line-height: 1.5;
      padding-top: 6px;
      padding-bottom: 6px;
      display: inline-block;
  }
  
  
  .contacts {
      line-height: 1.5;
      padding-top: 6px;
      padding-bottom: 6px;
      display: inline-block;
      width: auto;
      margin: 0 7.5;
  }
  
  .top-bar {
      background-image: url(polygonal.jpg);
      width: 105%;
      float: left;
      position: relative;
      left: -8px;
      top: -8px;
      }
  
  .row-adres {
      margin-left: 15px;
      margin-right: 15px;
  }
  
  .sb {
      margin: 0;
      float: right;
      line-height: 1.5;
      padding: 0;
      list-style: none;
  }
  
  .sb li {
      line-height: 1.5;
      padding-top: 6px;
      padding-bottom: 6px;
      display: inline-block;
      width: auto;
      margin: 0 7.5;
  }
  
  .fa {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
  }
  
  .fa-envelope-o:before{
      content: "\f16d";
  }
  .fa-instagram:before {
      content: "\f16d";
  }
  .fa-car::before{
      content: "\f1b9";
  }
  
  *:before, *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  .inner {
      box-sizing: border-box;
      width: 100%;
  }
  
  .occ-button {
      margin: 0;
      float: right;
      line-height: 1.5;
      padding: 0;
      list-style: none;
      padding-right: 100px;
  }
  
  .button-occ {
      background-color: #FFFF00;
      border-width: 1px !important;
      text-transform: uppercase;
      transition: all 0.4s ease;
  
      padding: 10px 16px;
      font-size: 17px;
      line-height: 1.3333333;
      border-radius: 3px;
  
      display: inline-block;
      margin-bottom: 0;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      user-select: none;
  
      text-decoration: none
    }